# **SQLAlchemy from Medium Blog**

[A Beginner’s Guide to SQLAlchemy: Getting Started with Python’s Powerful ORM](https://medium.com/@maskarapriyanshu/a-beginners-guide-to-sqlalchemy-getting-started-with-python-s-powerful-orm-ab8428f7074b)

In [1]:
from dotenv import load_dotenv
load_dotenv()
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
from sqlalchemy import create_engine

# Read DB URL from environment variable
db_url = os.getenv("PG_DATABASE_URL")

# Create engine
engine = create_engine(db_url)

## **Defining Database Models**
```bash
In SQLAlchemy, database tables are represented as Python classes, and each instance of a class represents a row in the corresponding table. Let’s define a simple User model to represent a user table:
```

In [3]:
from sqlalchemy import Column, Integer, String, ForeignKey, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

Base = declarative_base()

class User(Base):
  __tablename__ = 'users'
  id = Column(Integer, primary_key=True)
  username = Column(String)
  age = Column(Integer)
  balance = Column(Float)

In [4]:
# Define the Address model
class Address(Base):
  __tablename__ = 'addresses'
  id = Column(Integer, primary_key=True)
  user_id = Column(Integer, ForeignKey('users.id'))
  email = Column(String)
  user = relationship("User", backref="addresses")

In [5]:
## Create the table.

Base.metadata.create_all(engine)

## **Creating a Session**
```lua
To interact with the database, we need to create a session. The session manages the connection to the database and provides a way to execute queries and perform database operations. Here’s how you can create a session:
```

In [6]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

## **Inserting The data**

In [7]:
new_user = User(username="Md Al Amin", age=25, balance=70.43)
session.add(new_user)
session.commit()

## **Do query into to database**

In [8]:
all_users = session.query(User).all()

specific_users = session.query(User).filter(User.username == 'Md Al Amin').all()
specific_users

In [9]:
for user in all_users:
    print(user.username, user.age, user.balance)

Md Al Amin 25 70.43
Md Al Amin 25 70.43

## **Update Data**

```lua
To update existing data in the database, we first query the data we want to update, modify it, and then commit the changes. Here’s an example of updating a user’s email address:
```

In [13]:
# Query the user to update
user_to_update = session.query(User).filter(User.id == 2).first()

# Update the user's email address
user_to_update.username = "Aminul Islam"

# Commit the transaction
session.commit()

In [14]:
all_users = session.query(User).all()

for user in all_users:
    print(user.username, user.age, user.balance)

Md Al Amin 25 70.43
Aminul Islam 25 70.43

## **Delete Data**

In [15]:
# Query the user to delete
user_to_delete = session.query(User).filter(User.username == "Aminul Islam").first()

# Delete the user
session.delete(user_to_delete)

# Commit the transaction
session.commit()

all_users = session.query(User).all()

for user in all_users:
    print(user.username, user.age, user.balance)

Md Al Amin 25 70.43

## **Aggregate Function**

In [16]:
from sqlalchemy import func

# Count the number of users
num_users = session.query(func.count(User.id)).scalar()

# Calculate the average age of users
average_age = session.query(func.avg(User.age)).scalar()

# Find the maximum age of users
max_age = session.query(func.max(User.age)).scalar()

(num_users, average_age, max_age)

(1, Decimal('25.0000000000000000'), 25)